@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

body {
  overflow-y: hidden;
  height: 100%;
}
.cursor-pointer {
  cursor: pointer;
}